{
  "plugins": [
    "add-module-exports"
  ],
  "presets": [
    ["env", {
      "targets": {
        "browsers": [
          "chrome >= 53",
          "firefox >= 42",
          "ie >= 11"
        ]
      }
    }]
  ]
}
